@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.banner-area {
    background-repeat:no-repeat;
    
}

.description {
  position: relative;
  width: 564px;
  top: 150px;
  left: 350px;
  margin: auto;
  padding: 2em;
}
.description h1 {
  color:black;
  font-size: 55px;
  font-family: Raleway;
  
}
.description p {
  color: #666;
  font-size: 25px;
  
  line-height: 1.5;
}

.Information {
    position: relative;
    background-color:  #DCC7AA;
}
.Information h1 {
    margin-top: 0;
    padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
    color: #000000;
  font-size: 35px;
  font-family: Raleway;
  
  

}
.Information p {
    width: 80%;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 15px;
    color: black;
    padding: 25px;
    
    
  }

  /*Slide Start*/
.slide {
    position: relative;
      background-color:lightslategray;
      font-size: large;
    padding: 50px; 
  }
  .slide h3 {
    margin-top: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: black;
    font-size: 35px;
    font-family: Raleway;
  }

  
  .slide table {
    position: center;
    padding: 70px;
    
  }
  
  .slide td{
    padding: 30px;
  }
  .slide h1{
    margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: left;
      text-transform: uppercase;
      color: black;
    font-size: 20px;
    font-family: Raleway;
  }
  .slide a{
    color: black;
    font-size: large;
  }
  /*Slide End*/
  